@font-face{
  font-family: 'Playwrite Hrvatska Lijeva';
  src: url(./PlaywriteHRLijeva-Regular.woff);
}

@font-face{
  font-family: 'Yanone Kaffeesatz';
  src: url(./YanoneKaffeesatz-Regular.woff);
}