.page{
  background: linear-gradient(45deg, #fddb92, #d1fdff);
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  border: 1px solid red;
}

.header{
  border: 1px solid red;
}

.header_name{
  font-family: Playwrite Hrvatska Lijeva;
  font-size: 35px;
  width: 246px;
  color: #7EAE00;
  border: 1px solid yellow;
  margin: auto;
}

.header_who{
  font-family: Yanone Kaffeesatz;
  font-size: 15px;
  color: #FF4300;
  margin-left: 100px;
  width: 48.2px;
  border: 1px solid yellow;
}

.main{
  border: 1px solid lime;
}

.info{
  border: 1px solid lime;
}

.info_who{
  border: 1px solid lime;
  font-family: Yanone Kaffeesatz;
}